# Ignore compiled python
*.pyc

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/